.contacts {
  padding-top: 56px;
  padding-bottom: 62px;
  background: linear-gradient(to right, #102654 50%, #ffffff 50%);

  @include vp-1199 {
    background: none;
    padding: 0;
  }
}

.contacts__wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 100%;
    padding: 0;
  }
}

.contacts__wrapper1 {
  margin-right: 50px;

  @include vp-1199 {
    padding-top: 61px;
    padding-bottom: 68px;
    padding-left: 133px;
    padding-right: 163px;
    margin-right: 0;
    background-color: $color-sapphire;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 68px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts__wrapper2 {
  margin-left: 120px;

  @include vp-1199 {
    margin-left: 0;
    padding-top: 62px;
    padding-bottom: 62px;
    padding-left: 133px;
    padding-right: 163px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts__wrapper1 h3 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 84px;
  text-align: left;
  -webkit-text-stroke: 1px;
  color: $color-default-white;
  letter-spacing: 0.04em;
  margin: 0;
  margin-bottom: 10px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 26px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.03em;
    -webkit-text-stroke: 0;
    margin-bottom: 29px;
  }
}

.contacts__wrapper2 h3 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  text-align: left;
  color: $color-sapphire;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 36px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 33px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 35px;
  }
}

.contacts__wrapper2 span {
  display: block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: $color-sapphire;
  margin: 0;
  margin-bottom: 3px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
  }
}

.contacts__address {
  margin-left: 4px;

  @include vp-1199 {
    margin-left: 0;
  }
}

.contacts__address p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: $color-sapphire;
  margin: 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}

.contacts__address a {
  display: inline-block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: $color-sapphire;
  margin: 0;
  text-decoration: none;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: max-content;
  gap: 16px 117px;

  @include vp-1199 {
    gap: 20px 96px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }
}

.contacts__item {

  &:nth-child(2) {
    grid-column: 1;

    @include vp-767 {
      grid-column: auto;
    }
  }

  &:nth-child(3) {
    grid-row: 1;
    grid-column: 2;

    @include vp-767 {
      grid-row: auto;
      grid-column: auto;
    }
  }
}
