.footer {
  padding-top: 43px;
  padding-bottom: 32px;
  background-color: $color-black-russian;

  @include vp-1199 {
    padding-bottom: 46px;
  }

  @include vp-767 {
    padding-top: 46px;
    padding-bottom: 52px;
  }
}

.footer__container {
  position: relative;
  display: grid;
  grid-template-columns: 88px 1fr 97px;
  align-items: center;

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 26px;
  }
}

.footer__nav a {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $color-default-white;
  cursor: pointer;
  display: inline-block;

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.footer__nav {
  align-self: flex-start;
  padding: 0 50px;

  @include vp-1199 {
    align-self: center;
    padding: 0 20px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.footer__list {
  margin: 0;
  margin-left: 7px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include vp-1199 {
    margin-top: 3px;
  }

  @include vp-767 {
    display: block;
    margin: 0;
    column-count: 2;
    column-gap: 29px;
  }
}

.footer__item {
  &:not(:last-child) {
    margin-right: 41px;

    @include vp-1199 {
      margin-right: 30px;
    }

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }

  &:first-child {
    @include vp-767 {
      padding-top: 40px;
    }
  }
}
