.header {
  position: relative;
  padding-top: 29px;
  padding-bottom: 51px;

  @include vp-1199 {
    padding-top: 34px;
    padding-bottom: 82px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 77px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $intro-background-gradient;
    z-index: -2;
    top: 0;
    left: 0;

    @include vp-1199 {
      background: $intro-background-gradient-tablet;
    }

    @include vp-767 {
      background: $intro-background-gradient-mobile;
    }
  }
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include vp-1199 {
    align-items: center;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header__phone {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: $color-default-white;
  letter-spacing: 0.03em;
  margin-left: 30px;
  display: inline-block;

  @include vp-1199 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
