.promotion {
  padding-top: 100px;
  padding-bottom: 117px;

  @include vp-1199 {
    padding-top: 91px;
    padding-bottom: 91px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.promotion__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.promotion__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1199 {
    grid-template-columns: 279px 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.promotion h2 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin: 0;
  margin-bottom: 34px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-left: -9px;
    margin-bottom: 41px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-left: -7px;
    margin-bottom: 43px;
  }
}

.promotion__year {
  background-color: $color-torch-red;
  padding-top: 35px;
  padding-bottom: 43px;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include vp-767 {
    align-items: center;
    padding-top: 34px;
    padding-left: 45px;
    padding-bottom: 44px;
  }
}

.promotion__year h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  color: $color-default-white;
  text-align: left;
  margin: 0;

  @include vp-767 {
    text-align: center;
  }
}

.promotion__year span {
  display: block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 58px;
  color: $color-default-white;
  text-align: left;
  margin-bottom: 24px;

  @include vp-767 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.promotion__year p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: $color-default-white;
  text-align: left;
  margin: 0;

  @include vp-767 {
    text-align: center;
  }
}

.promotion__button {
  position: relative;
  display: inline-block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  text-align: left;
  margin: 0;
  margin-top: 30px;
  padding-bottom: 3px;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;
    bottom: 0;
    left: 0;
  }

  &--secondary {
    font-size: 12px;
    line-height: 14px;
    color: $color-resolution-blue;

    &::before {
      background-color: $color-resolution-blue;
    }
  }

  @include hover-focus {
    opacity: 0.6;
  }
}

.promotion__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.promotion__list h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 41px;
  color: $color-resolution-blue;
  text-align: left;
  margin: 0;

  @include vp-767 {
    text-align: center;
  }
}

.promotion__list p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-resolution-blue;
  text-align: left;
  margin: 0;

  @include vp-767 {
    text-align: center;
  }
}

.promotion__item:first-child p {
  @include vp-1199 {
    padding-right: 50px;
  }

  @include vp-767 {
    padding-right: 0;
  }
}

.promotion__item {
  padding-top: 17px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 25px;
  border: 7px solid $color-transparent;
  border-image: $border-gradient-promotion;
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 211px;

  &:not(:last-child) {
    margin-bottom: 40px;

    @include vp-1199 {
      margin-bottom: 0;
    }
  }

  @include vp-1199 {
    padding-bottom: 27px;
  }

  @include vp-767 {
    align-items: center;
    padding-top: 29px;
    padding-bottom: 36px;
  }
}

.promotion__image {
  width: 100%;
  height: auto;
}

.promotion__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $color-cobalt;
}
