.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1160px;
  margin: 0 auto;
}

.tabs__controls {
  position: relative;
  align-self: center;
  margin-bottom: 51px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -14px;
    width: 100%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
  }

  @include vp-1199 {
    margin-bottom: 58px;
  }

  @include vp-767 {
    margin-bottom: 51px;
  }
}

.tabs__control {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0;
  min-width: auto;
  justify-content: center;
  background-color: $color-transparent;
  border: none;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: $color-sapphire;
  opacity: 0.5;

  &:not(:last-child) {
    margin-right: 43px;

    @include vp-1199 {
      margin-right: 51px;
    }

    @include vp-767 {
      margin-right: 41px;
    }
  }

  &.is-active {
    opacity: 1;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      bottom: -14px;
      width: 100%;
      height: 2px;
      background-color: $color-crimson;
    }
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.tabs__content {
  width: 100%;
  transition: height 0.3s;
}

.tabs__element {
  @include vp-767 {
    width: 100%;
  }
}

.tabs__element-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 40px;

  @include vp-1243 {
    gap: 23px;
  }

  @include vp-1199 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 40px;
  }

  @include vp-767 {
    row-gap: 37px;
  }
}

.tabs__element-item {
  padding: 0 70px;
  padding-top: 56px;
  padding-bottom: 60px;
  background-color: $color-default-white;
  border: 7px solid $color-transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    padding: 56px 111px 60px;
  }

  @include vp-767 {
    padding: 42px 35px 47px;
  }

  &:hover {
    border: 7px solid $color-transparent;
    border-image: $border-gradient;
    border-image-slice: 1;

    a {
      background: $button-gradient;
      color: $color-default-white;

      &::before {
        display: none;
      }
    }
  }

  @include active {
    border: 7px solid $color-transparent;
    border-image: $border-gradient;
    border-image-slice: 1;

    a {
      background: $button-gradient;
      color: $color-default-white;

      &::before {
        display: none;
      }
    }
  }
}

.tabs__element h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  text-align: center;
  color: $color-sapphire;
  margin: 0;
  margin-bottom: 9px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
  }
}

.tabs__element p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $color-chambray;
  margin: 0;
  margin-bottom: 65px;

  @include vp-767 {
    margin-bottom: 56px;
  }
}

.tabs__element span {
  position: relative;
  display: inline-block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  color: $color-egyptian-blue;
  margin: 0;
  margin-right: 14px;
  z-index: 1;

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
    margin-right: 11px;
  }

  &::before {
    content: attr(data-price);
    position: absolute;
    bottom: 12px;
    left: -16%;
    font-size: 100px;
    line-height: 110px;
    color: $color-whisper;
    opacity: 0.48;
    z-index: -1;

    @include vp-767 {
      font-size: 80px;
      bottom: 0;
      left: -18%;
    }
  }
}

.tabs__element a {
  display: block;
  position: relative;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-sapphire;
  width: 206px;
  padding: 26px;

  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-transparent;
    border: 2px solid $color-sapphire;
  }
}

.tabs__content svg {
  display: block;
  position: relative;
  z-index: 1;

  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.tabs__element-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;

  @include vp-767 {
    margin-left: 4px;
    margin-bottom: 29px;
  }
}


.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
